.register {
  &__container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation-duration: 1.5s;
    animation-name: slidein;
    transform: translateY(25%);
  }
  &__form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 420px;
    gap: 25px;
  }
  &__field {
    width: 420px;
    position: relative;
  }
  &__error {
    position: absolute;
    top: 100%;
    left: 0;
  }
  &__link {
    text-decoration: none;
    width: 420px;
    height: 44px;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 15px;
    width: 420px;
  }
  &__alert {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(100%);
    width: 300px;
    height: 50px;
    animation-duration: 1.5s;
    animation-name: slidein;
  }
}

@keyframes slidein {
  from {
    display: none;
    opacity: 0;
    margin-right: 500px;
  }

  to {
    display: block;
    margin-right: 0;
    opacity: 1;
  }
}
