.userslist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 40px;
  padding-bottom: 70px;
  animation-duration: 0.5s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 150px;
  }

  to {
    margin-top: 40px;
    opacity: 1;
  }
}

.add-button {
  position: fixed;
  top: 50px;
  right: 30%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.2s ease;

  &:hover {
    opacity: 0.5;
  }
}

a div {
  color: #000;
}
