.userslist {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    flex-direction: column;
    animation-duration: 1.5s;
    animation-name: slidein;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
    width: 600px;
  }
  &__table {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 30px;
    width: 1000px;
  }
}

@keyframes slidein {
  from {
    opacity: 0;
    margin-top: 200px;
  }

  to {
    margin-top: 50;
    opacity: 1;
  }
}
