.user {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    &__form-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 800px;
      position: relative;
      &__image {
        width: 300px;
        height: 250px;
        background-color: grey;
        padding: 5px;
        border-radius: 7px;
      }

      &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        border: 1px solid grey;
        padding: 5px;
        border-radius: 7px;
        &__field {
          display: flex;
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
          width: 420px;
        }
      }
    }
  }

  &__submit {
    position: absolute;
    top: 105%;
    right: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  &__delete {
    position: absolute;
    top: 105%;
    left: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }
}
